[
	{% for p in ld_json %}
		{% if forloop.last %}
			{
				"@context": "http://schema.org",			
				"@type": "ItemList",
				"url": "{{p.url}}",
				"itemListElement": [
					{% for i in p.itemListElement %}
						{% if forloop.last %}
							{
								"@type": "Product",
								"url": "{{i.url}}",
								"name": "{{i.name}}"
							}
						{% else %}
							{
								"@type": "Product",
								"url": "{{i.url}}",
								"name": "{{i.name}}"
							},
						{% endif %}
					{% endfor %}
				]
			}
		{% else %}
			{
				"@context": "http://schema.org",			
				"@type": "ItemList",
				"url": "{{p.url}}",
				"itemListElement": [
					{% for i in p.itemListElement %}
						{% if forloop.last %}
							{
								"@type": "Product",
								"url": "{{i.url}}",
								"name": "{{i.name}}"
							}
						{% else %}
							{
								"@type": "Product",
								"url": "{{i.url}}",
								"name": "{{i.name}}"
							},
						{% endif %}
					{% endfor %}
				]
			},
		{% endif %}
	{% endfor %}
]