{% for unit in units %}
	{% if forloop.last %}
		{
			"@context": "http://schema.org",
			"@type": "Product",
			"name": "{{unit.Name}}",
			"description" : "{{unit.Description}}",
			"url": "http://polihimstroy.ru/paragraph/{{par_id}}/unit/{{unit.id}}",
			"brand" : {
				"@type" : "Brand",
				"name" : "{{unit.Paragraph__Name}}"
			}
		}
	{% else %}
		{
			"@context": "http://schema.org",
			"@type": "Product",
			"name": "{{unit.Name}}",
			"description" : "{{unit.Description}}",
			"url": "http://polihimstroy.ru/paragraph/{{par_id}}/unit/{{unit.id}}",
			"brand" : {
				"@type" : "Brand",
				"name" : "{{unit.Paragraph__Name}}"
			}
		},
	{% endif %}
{% endfor %}