<div class="row">
	<div class="large-12 small-12 columns" style="text-align:center;"><h2>Вас приветствует компания ТКЗ ПОЛИХИМСТРОЙ</h2></div>
	<div class="large-12 small-12 columns">
		Компания ПолиХимСтрой работает на рынке нефтехимии с 2010 года. Основной вид деятельности это комплексное снабжение предприятий химической и нефтехимической продукцией, тарой для упаковки и транспортирования нефтепродуктов, химических продуктов, лакокрасочной продукции и др.
	</div>
	<!-- <div class="large-6 small-6 columns">
		<h3>Оказываемые услуги:</h3>
		<p>автогрузоперевозки</p>
		<p> - контейнером</p>
		<p> - Ж/Д вагонами </p>
		<p>склад временного хранения</p>
		<p>разгрузочно погрузочные работы</p>
	</div>
	<div class="large-6 small-6 columns">
		<h3>Собственная спецтехника</h3>
		<p>сдаем в аренду:</p>
		<p> - вилочный погрузчик (1500 кг)</p>
		<p> - фронтальный погрузчик</p>
		<p> - трактор-экскаватор</p>
		<p> - манипулятор</p>
		<p> - газель(1,5 - 2тн)</p>
		<p> - волдай(5 тн)</p>
		<p> - фуру(20 тн тент.)</p>
	</div> -->
</div>
<button class="close-button" data-close aria-label="Close reveal" type="button">
  <span aria-hidden="true">&times;</span>
</button>