{% if username %}
	<div class="large-12 small-12 columns" style="padding:0;">
		<div class="large-12 small-12 columns" style="padding:0;">
			<button class="button secondary large" id="logbut" type="button" data-toggle="menu-dropdown">Меню</button>
		</div>
		<div class="dropdown-pane" id="menu-dropdown" data-dropdown data-hover="true" data-hover-pane="true" data-v-offset="0">
			<ul class="menu vertical">
				<li><a href="#" class="login_menu_elem text-center"><h5>Баланс: {{balance}} EUR</h5></a></li>
				<li><a href="#" class="login_menu_elem text-center"><h5>Пользователь: {{username_name}}</h5></a></li>
				<li><a id="logout" class="login_menu_elem text-center"><h5>Выйти</h5></a></li>
				<li><a id="orders" class="login_menu_elem text-center"><h5>Завки</h5></a></li>
			</ul>
		</div>
	</div>
{% else %}
	<div class="large-12 small-12 columns" style="padding:0;">
		<div class="large-12 small-12 columns" style="padding:0;">
			<button class="button secondary large" id="logbut"><a id="login">Войти</a></button>
		</div>
	</div>
{% endif %}
<script>
	$('#login_panel').foundation();
</script>