<h1 class="text-center">{{paragraph_name}}</h1>
<ul class="accordion" data-accordion data-allow-all-closed="true">
	{% for unit in units %}
		<li class="accordion-item{% if unit.id == unit_id %} is-active{% endif %}" id="item_unit" data-accordion-item data-id="{{unit.id}}" data-paragraph="{{par_id}}" data-unit="{{unit.id}}">
			<a href="#" class="accordion-title"><h3 class="subheader text-center">{% if transport_flag %}{{paragraph_name}} {% endif %}{{unit.Name}}</h3></a>
			<div id="unit{{unit.id}}" class="accordion-content" data-tab-content>
				<h4>{{unit.Name|upper}}</h4>
				<h4>{{unit.Description|linebreaks}}</h4>
				<h4>
					{% for kw in unit_keywords %}
						{% if kw.Unit_id == unit.id %}
							<button class="small button secondary">{{kw.Name}}</button>
						{% endif %}
					{% endfor %}
				</h4>
				<button class="large button" id="makeorder" data-id="{{unit.id}}" data-transport="{{transport_flag}}">оставить заявку</button>
			</div>
		</li>
	{% endfor %}
</ul>

<ol id="joyRideTipContent">
      <li data-id="unit{{unit_id}}" data-options="tipLocation:top;tipAnimation:fade">
      </li>
    </ol>
<div class="large-12 small-12 colums float-left" style="height:100px;"></div>
<script>
	$('#maincontent').show(400);
	$(window).load(function() {
        $('#joyRideTipContent').joyride({
			autoStart : true,
	     /*   modal:true,
	        expose: true*/
		});
	});
	$('#maincontent').foundation();
</script>