#page_head a{
	color:#fff;	
}

#page_head a:hover{
	color:#fff;
}

a{
	color:#fff;
}
a:hover{
	color:#fff;
}

body{
	position:absolute;
	top:0;
	left:0;
	display:block;
	width:100%;
	min-height:100%;
}

#backgroundimage{
	position:fixed;
	top:0;
	left:0;
	display:block;
	width:100%;
	height:100%;
	background: url(/media/polihimstroy.jpg) center 0 no-repeat fixed;
	background-size:cover;
	z-index:-1;
}
.reveal{
	position: relative;
}

#page_head{
	position:absolute;
	top:0;
	height:100px;
	background-color:rgba(0, 0, 0, .5);
	/* background-color:rgba(0, 140, 186, .8); */
	color:#fff;
}
#page_text{
	font-family: "Segoe UI", "Frutiger", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	display:inline-block;
	margin-top:15px;
	text-transform: uppercase;
	white-space: nowrap;
}

#login_panel{
	/* display:inline-block;
	position:relative; */
	/* margin-top:29px;
	text-align: right;
	padding:0;
	font-size:13px;
	padding-right:15px; */
	/* margin-top:49px; */
	/* margin-right: 15px; */
}
.header{
	display:block;
	position:fixed;
	top:0;
	width: 100%;
	z-index:104;
}

.content{
	z-index:1;
	min-height:100%;
}
#precontent{
	height: 100px;
}

#maincontent{
	background-color:rgba(255, 255, 255, .5);
	height: 100%;
}
.paragraph{
	overflow: hidden;
	margin:0;
	padding:0;
}

.grayscale{
	filter: none;
	-webkit-filter: grayscale(0%);
	/* filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	filter: gray;
	transition: all .6s ease;
	-moz-transition: all .6s ease-in-out;
	-webkit-transition: all .6s ease;
	-webkit-filter: grayscale(100%);
	-webkit-backface-visibility: hidden; */

}

.paragraph_background.grayscale:hover {
	/* filter: none;
	-webkit-filter: grayscale(0%); */
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	filter: gray;
	transition: all .6s ease;
	-moz-transition: all .6s ease-in-out;
	-webkit-transition: all .6s ease;
	-webkit-filter: grayscale(100%);
	-webkit-backface-visibility: hidden;
}

.paragraph_background{
	margin:0;
	padding:0;
	position:relative;
	display:block;
	height: 350px;
/* 	width:350px; */
	background-size:cover;
	transition: all .6s ease;
	-moz-transition: all .6s ease-in-out;
	-webkit-transition: all .6s ease;
}

.paragraph_background:hover{
	opacity: 1;
}

#paragraph_name h3{
	font-family: "Segoe UI", "Frutiger", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	vertical-align: middle;
	top:50%;
	background:rgba(0, 0, 0, .5);
	background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0, 1));
	background: -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0, 1));
	background: -mox-linear-gradient(rgba(0,0,0,0), rgba(0,0,0, 1));
	background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, 1));
	/* background-color:rgba(0, 0, 0, .5); */
	/* background-color:rgba(0, 140, 186, .8); */
	color:#fff;
	height: 120px;
	padding-left:20px;
	padding-right:20px;
	line-height: 25px;
	padding-top:35px;
}

#paragraph_name{
	text-align: center;
	height: 0px;
	display:block;
	position:relative;
	z-index: 1;
	width: 100%;
	/* width:104%; */
	/* left:-2%; */
	top:260px;
	/* top:140px; */
	/* transition: all .6s ease;
	-moz-transition: all .6s ease-in-out;
	-webkit-transition: all .6s ease;
	-o-transition: all .6s ease; */
}

.paragraph_content{
	margin-top:30px;
}

#goto_previous h2{
	padding-left:15px;
	font-family: "Segoe UI", "Frutiger", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}
#goto_previous{
	display:block;
	color:#fff;
	background-color:rgba(0,0,0, .5);
	position:fixed;
	bottom:0;
	height:40px;
	padding-left:10px;
	padding-right:15px;
	/* width:180px; */
	z-index:2;
}

#notification_panel{
	position:fixed;
	right:0;
	bottom:0;
	display:block;
	z-index:1007;
	width:400px;
	min-height:0px;
}

.notification_unit{
	position:relative;
	display:block;
	width: 100%;
	min-height:120px;
	color: #fff;
}

.notification_header{
	margin:15px;
}

.notification_text{
	margin: 15px;
}

.close-button{
	color:#fff;
}

.close-button:hover{
	color:#fff;
}

.alert{
	background-color: rgba(232, 63, 111, .8);
}

.success{
	background-color: rgba(0, 155, 114, .8);
}

#greatings_close{
	color:#000;
}

#greations_close:hover{
	color:#000;
}

.accordion-title{

}

#prefix{
	background-color:rgba(0,0,0, .5);
	color:#fff;
	padding:7px;
	padding-left:27px;
}

.has-tip{
	border-bottom:none;
}

#header_panel{
	margin-top:5px;
	list-style-type: none;
}

.header_button{
	display:block;
	position:relative;
	padding:10px;
	/* font-family: "Segoe UI", "Frutiger", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; */
}

li{
	display:block;
}

#header_button_group{
	padding:0;
}

.header_button_elem{
	padding:0;
	margin:0;
}

.header_button_elem button{
	width:100%;
	height: 100px;
	display: block;
	position: relative;
}

.header_button_elem .secondary{
	background:none;
}

.header_button_elem .secondary:hover{
	background: none;
}

.map{
	height:300px;
	margin:0;
	padding:0;
}

#header_button_panel{
	margin:0;
	padding:0;
}

/* #logbut{
	background: none;
	padding:0;
	margin:0;
	display:block;
	position:relative;
	width:100%;
	height:40px;
	overflow: visible;
} */

#logbut:hover{
	background: none;
}

#page_head a.login_menu_elem{
	color:#fff;
}

#menu-dropdown{
	background:rgba(0, 0, 0, .5);
	border:none;
}

.address{
	color:#0a0a0a;
}

.address:hover{
	color:#0a0a0a;
}