p{
	color:#000;
}

#price_list{
	position:fixed;
	bottom:0;
	left:0;
}

.button{
	border-radius: 3px;
}

.p_name{
	padding:15px;
	margin:5px;
	border-radius:25px;
	border:4px solid rgba(0, 0, 0, 0.1);
	background-color:rgba(0, 0, 0, 0.5);
	color:#fff;	
}

#page_head{
	position:absolute;
	top:0;
	height:155px;
	background-color:rgba(0, 0, 0, 0.6);
	/* border-bottom:4px solid rgba(0, 0, 0, 0.1); */
	/* background-color:rgba(255, 255, 255, .7); */
	/* background-color:rgba(0, 140, 186, .8); */
	color:#fff;
}

#page_head a{
	color:#fff;	
}

#page_head a:hover{
	color:#fff;
}

a{
	color:#fff;
	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease;
}
a:hover{
	color:#fff;
}

.cyan{
	color:#2199e8;
}

.cyan:hover{
	color:#125f79;
}

body{
	position:absolute;
	top:0;
	left:0;
	display:block;
	width:100%;
	min-height:100%;
}

#backgroundimage{
	position:fixed;
	top:0;
	left:0;
	display:block;
	width:100%;
	height:100%;
	/* background-color:#fff; */
	background: url(/media/polihimstroy.jpg) center 0 no-repeat fixed;
	background-size:cover;
	z-index:-1;
}
.reveal{
	position: relative;
}


#page_text{
	font-family: "Segoe UI", "Frutiger", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	display:inline-block;
	margin-top:15px;
	text-transform: uppercase;
	white-space: nowrap;
	font-size:45px;
}

#back{
	font-size: 25px;
}

#login_panel{
	/* display:inline-block;
	position:relative; */
	/* margin-top:29px;
	text-align: right;
	padding:0;
	font-size:13px;
	padding-right:15px; */
	/* margin-top:49px; */
	/* margin-right: 15px; */
}
.header{
	display:block;
	position:absolute;
	top:0;
	width: 100%;
	z-index:1;
}

.content{
	padding:0;
	z-index:0;
	min-height:100%;
}
#precontent{
	height: 155px;
}

#maincontent{
	top:155px;
	display:block;
	/* background-color:rgba(0,0,0,.5); */
	background-color:rgba(255, 255, 255, .5);
	min-height: 100%;
}
.paragraph{
	overflow: hidden;
	margin:0;
	padding:0;
}

.grayscale{
	filter: none;
	-webkit-filter: grayscale(0%);
	/* filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	filter: gray;
	transition: all .6s ease;
	-moz-transition: all .6s ease-in-out;
	-webkit-transition: all .6s ease;
	-webkit-filter: grayscale(100%);
	-webkit-backface-visibility: hidden; */

}

.paragraph_background.grayscale:hover {
	/* filter: none;
	-webkit-filter: grayscale(0%); */
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	filter: gray;
	transition: all .6s ease;
	-moz-transition: all .6s ease-in-out;
	-webkit-transition: all .6s ease;
	-webkit-filter: grayscale(100%);
	-webkit-backface-visibility: hidden;
}

.paragraph_background{
	/* border: 3px solid #fff; */
	border-radius:15px;
	margin:0;
	padding:0;
	position:relative;
	display:block;
	height: 350px;
/* 	width:350px; */
	background-size:cover;
	/* transition: all .6s ease;
	-moz-transition: all .6s ease-in-out;
	-webkit-transition: all .6s ease; */
	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease;
}

.paragraph_name h1{
	position:absolute;
	top:200px;
	height:100%;
	width:100%;
	text-align: center;
	font-size:25px;
	display:block;
	vertical-align: middle;
	text-align:center;
	/* white-space: nowrap; */
}

.paragraph_background:hover .paragraph_name h1{
	display:table-cell;
	top:150px;
	/* white-space: nowrap; */
}

.paragraph_frontground{
	display:table;
	text-align: center;
	top:50%;
	left:50%;
	border-radius:11px;
	height:0;
	width:0;
	position:absolute;
	padding:0;
	background: rgba(0, 0, 0, .5);
	overflow: hidden;
	-webkit-transition: all 800ms ease;
	-moz-transition: all 800ms ease;
	-ms-transition: all 800ms ease;
	-o-transition: all 800ms ease;
	transition: all 800ms ease;
}

.paragraph_background:hover .paragraph_frontground{
	top:0;
	left:0;
	height:100%;
	width:100%;
}

.paragraph_background:hover{
	opacity: 1;
}

#paragraph_name h3{
	font-family: "Segoe UI", "Frutiger", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	vertical-align: middle;
	top:50%;
	background:rgba(0, 0, 0, .5);
	background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0, 1));
	background: -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0, 1));
	background: -mox-linear-gradient(rgba(0,0,0,0), rgba(0,0,0, 1));
	background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, 1));
	/* background-color:rgba(0, 0, 0, .5); */
	/* background-color:rgba(0, 140, 186, .8); */
	color:#fff;
	height: 120px;
	padding-left:20px;
	padding-right:20px;
	line-height: 25px;
	padding-top:35px;
}

#paragraph_name{
	text-align: center;
	height: 0px;
	display:block;
	position:relative;
	z-index: 1;
	width: 100%;
	/* width:104%; */
	/* left:-2%; */
	top:260px;
	/* top:140px; */
	/* transition: all .6s ease;
	-moz-transition: all .6s ease-in-out;
	-webkit-transition: all .6s ease;
	-o-transition: all .6s ease; */
}

.paragraph_content{
	margin-top:30px;
}

#goto_previous h2{
	padding-left:15px;
	font-family: "Segoe UI", "Frutiger", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}
#goto_previous{
	display:block;
	color:#fff;
	background-color:rgba(0,0,0, .5);
	position:fixed;
	bottom:0;
	height:40px;
	padding-left:10px;
	padding-right:15px;
	/* width:180px; */
	z-index:2;
}

#notification_panel{
	position:fixed;
	right:0;
	bottom:0;
	display:block;
	z-index:1007;
	width:400px;
	min-height:0px;
}

.notification_unit{
	position:relative;
	display:block;
	width: 100%;
	min-height:120px;
	color: #fff;
}

.notification_header{
	margin:15px;
}

.notification_text{
	margin: 15px;
	color:#fff;
}

.close-button{
	/* color:#fff; */
}

.close-button:hover{
	/* color:#fff; */
}

.alert{
	background-color: rgba(232, 63, 111, .8);
}

.success{
	background-color: rgba(0, 155, 114, .8);
}

#greatings_close{
	color:#000;
}

#greations_close:hover{
	color:#000;
}

.accordion-title{
	padding:0;
}

#prefix{
	background-color:rgba(0,0,0, .5);
	color:#fff;
	padding:7px;
	padding-left:20px;
}

.has-tip{
	border-bottom:none;
}

#header_panel{
	margin-top:5px;
	list-style-type: none;
}

.header_button{
	display:block;
	position:relative;
	padding:10px;
	height:100%;
	/* font-family: "Segoe UI", "Frutiger", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; */
}

li{
	display:block;
}

#header_button_group{
	height: 100%;
	padding:0;
}

.header_button_elem{
	height: 100%;
	padding:0;
	margin:0;
}

.header_button_elem button{
	width:100%;
	height: 100%;
	display: block;
	position: relative;
}

.header_button_elem .secondary{
	background:none;
}

.header_button_elem .secondary:hover{
	background: none;
}

.map{
	height:300px;
	margin:0;
	padding:0;
}

#header_button_panel{
	height:100%;
	margin:0;
	padding:0;
}

#mainpage{
	color:#fff;
	font-family: "Segoe UI", "Frutiger", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	height:100%;
	background-color:transparent;
	font-size: 45px;
	text-transform: uppercase;
	/* border:4px solid rgba(0, 0, 0, 0.1); */
	/* background-color:rgba(0, 0, 0, 0.5); */
	border-radius:15px;
	-webkit-transition: all 800ms ease;
	-moz-transition: all 800ms ease;
	-ms-transition: all 800ms ease;
	-o-transition: all 800ms ease;
	transition: all 800ms ease;
}

#mainpage:hover{
	background-color:rgb(0, 0, 0);
	/* border:4px solid rgb(216, 184, 184); */
	height:200px;
}

#schema{
	padding-left:13px;
	height:100%;
	/* border:4px solid rgba(0, 0, 0, 0.1);
	background-color:rgba(0, 0, 0, 0.5); */
	border-radius:15px;
	-webkit-transition: all 800ms ease;
	-moz-transition: all 800ms ease;
	-ms-transition: all 800ms ease;
	-o-transition: all 800ms ease;
	transition: all 800ms ease;
}

#schema:hover{
	height:200px;
	background-color: #000;
	border:none;
}

#contact{
	color:#fff;
	padding-left:9px;
	height:100%;
	/* border:4px solid rgba(0, 0, 0, 0.1);
	background-color:rgba(0, 0, 0, 0.5); */
	border-radius:15px;
	-webkit-transition: all 800ms ease;
	-moz-transition: all 800ms ease;
	-ms-transition: all 800ms ease;
	-o-transition: all 800ms ease;
	transition: all 800ms ease;	
}

#contact:hover{
	height:200px;
	background-color: #000;
	border:none;	
}

#search{
	color:#fff;
	height:100%;
	/* border:4px solid rgba(0, 0, 0, 0.1);
	background-color:rgba(0, 0, 0, 0.5); */
	border-radius:15px;
	-webkit-transition: all 800ms ease;
	-moz-transition: all 800ms ease;
	-ms-transition: all 800ms ease;
	-o-transition: all 800ms ease;
	transition: all 800ms ease;
}

#search:hover{
	height:200px;
	background-color: #000;
	border:none;
}

#logbut{
	color:#fff;
	height:100%;
	/* border:1px solid #fff; */
	/* background-color:rgba(0, 0, 0, 0.5); */
	border-radius:15px;
	-webkit-transition: all 800ms ease;
	-moz-transition: all 800ms ease;
	-ms-transition: all 800ms ease;
	-o-transition: all 800ms ease;
	transition: all 800ms ease;
}

#logbut:hover{
	height:200px;
	background-color: #000;
	border:none;
}

#page_head a.login_menu_elem{
	color:#fff;
}

#menu-dropdown{
	border-radius:15px;
	background:rgba(0, 0, 0, .5);
	/* border:3px solid #d8b8b8; */
}

.address{
	color:#000;
}

.address:hover{
	color:#000;
}

.line_one{
	margin-left:60px;
}

.line_two{
	margin-top:-15px;
	margin-right:10px;
}

.rounder{
	margin-top:5px;
	display:block;
	position:relative;
	width:80px;
	height: 80px;
	border-radius: 80px;
	z-index: 1;
	border:1px solid #fff;
	/* background-color:rgba(0, 0, 0, 0.5); */
	-webkit-transition: all 800ms ease;
	-moz-transition: all 800ms ease;
	-ms-transition: all 800ms ease;
	-o-transition: all 800ms ease;
	transition: all 800ms ease;
}

.rounder_selected{
	z-index: 3;
	border:none;
	/* border:5px solid orange; */
	background-color: rgb(0,0,0);
	border-radius:100px;
	width:100px;
	height:100px;
}

.rounder:hover{
	z-index: 3;
	border:none;
	/* border:5px solid orange; */
	background-color: rgb(0,0,0);
	border-radius:100px;
	width:100px;
	height:100px;
}

.rounder_wrapper{
	padding:0;
}


.ico{
	position:relative;
	top:-25px;
	left:-1px;
	font-size:78px;
	/* color:rgba(0, 0, 0, 0.3); */
}

.title_wrapper{
	padding:0;
	margin:0;
	height:100%;
}

.title_content{
	padding:0;
	margin:0;
	height:100%;
}

label h5, h6{
	color:#000;
}

/* для samsung */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	.reveal{
		position:absolute;
	}

	.paragraph_name, h1{
		font-size:30px;
		white-space: normal;
	}

	#contact{
		font-size:1rem;
		padding-left:3px;
	}

	#schema{
		color:#fff;
		font-size:1rem;
		padding-left:3px;
	}

	#logbut{
		padding-left:7px;
	}

	#search{
		padding-left:7px;
	}

	.rounder{
		width:61px;
		height: 61px;
		border-radius: 61px;
	}

	.rounder:hover{
		z-index: 3;
		/* border:5px solid orange; */
		border-radius:200px;
		width:200px;
		height:200px;
	}

	#mainpage{
		font-size: 2rem;
	}

	.line_one{
		margin-left:40px;
	}

	.line_two{
		margin-top:15px;
		margin-right:15px;
	}
}